<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <style>
        .form-control input{
         border: 1px solid #dbc441;
     font: inherit;
     border-radius: 2px;
     padding: 10px;
     margin-top: 10px;
     max-width:60%
        }
 </style>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contactus">Contact us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="contact-form" action="/contactus" method="POST">
            <div class="form-control">
                <label for="title">contact form</label>
                <input type="text" name="title" id="title">
                <input type="email" name="email" id="email">
            </div>

            <button type="submit">send </button>
        </form>
    </main>
</body>

</html>